* {
    box-sizing: border-box
}

body {
    font-size: 24px;
    line-height: 32px;
    color: #333333
}

header, nav {
    top: 0;
    left: 0;
    padding: 40px;
    margin: 10px;
    text-align: center;
    background: #eeeeee;
    width: 100%;
}

section {
    float: left;
    padding: 10px;
    background: #eeeeee;
    text-align: center;
    height: 300px;
    min-width: 47%;
    max-width: 47%;
    /* box-sizing: border-box; */
    position: relative;
    left: 10px;
    margin-bottom: 20px;
}

article {
    /* float: left; */
    position: absolute;
    background: darkgray;
    left: 28px;
    top: 296px;
    /* margin: auto; */
    text-align: center;
    color: white;
    min-width: 42%;
    max-width: 42%;
    height: 250px;
    /* overflow: auto; */
}

#p1 {
    float: left;
    position: absolute;
    background: white;
    left: 35px;
    top: 350px;
    min-width: 39%;
    max-width: 39%;
    text-align: center;
    height: 65px;
    overflow: hidden;
    margin: auto;

}

#p2{
    float: left;
    position: absolute;
    background: white;
    left: 35px;
    top: 418px;
    min-width: 39%;
    max-width: 39%;
    text-align: center;
    height: 65px;
    overflow: hidden;
    margin: auto;


}


#aside {
    float: left;
    padding: 10px;
    background: #eeeeee;
    text-align: center;
    height: 300px;
    /* box-sizing: border-box; */
    position: absolute;
    /* left: 300px; */
    top: 254px;
    /* margin: auto; */
    min-width: 47%;
    max-width: 47%;
    /* bottom: 0; */
    right: 10px;


}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eeeeee;
    text-align: center;
    height: 100px;

}




